# Dependências
node_modules/
.pnp
.pnp.js

# Ambiente de desenvolvimento
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build e diretórios de saída
dist/
build/
out/
.next/
.serverless/

# Configurações do IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de configuração local
*.local

# Arquivos de depuração
debug.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de teste
coverage/
.nyc_output/

# Arquivos do TypeScript
*.tsbuildinfo

# Configurações específicas do npm/yarn
package-lock.json
yarn.lock

# Arquivos temporários
tmp/
temp/